################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AjaxPro/.vs/AjaxPro
/AjaxPro/bin
/AjaxPro/obj
